name: Cargo & Clippy Test

on:
  push:
    paths:
      - .github/workflows/rust.yml
      - src/**
      - test_files/**
      - .cargo/**
      - Cargo.toml
      - Cargo.lock
      - rust-toolchain.toml
      - flake.nix
      - flake.lock
  pull_request:
    paths:
      - .github/workflows/rust.yml
      - src/**
      - test_files/**
      - .cargo/**
      - Cargo.toml
      - Cargo.lock
      - rust-toolchain.toml
      - flake.nix
      - flake.lock

env:
  CARGO_TERM_COLOR: always

jobs:
  clippy:
    name: Clippy tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: r7kamura/rust-problem-matchers@v1
      - uses: dtolnay/rust-toolchain@stable
      - name: Cache dependencies installed with cargo
        uses: actions/cache@v4
        with:
          path: |
            ./target/deps
            ~/.cargo
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-
      - name: Run clippy check
        run: cargo clippy --all-targets --all-features -- -D warnings
